mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.column-flex {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.15);
  padding: 30px;
}

mat-grid-tile {
  background: lightblue;
}
.toolbar-month{
  padding-top: 10px;
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}


span {
  font-family: Montserrat, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.title-size {
  font-size: x-large;
}
