<p>
  <mat-toolbar color="primary" class="title-size">
    <span><a routerLink="">GARBO</a></span>
  </mat-toolbar>
</p>

<mat-card class="mat-elevation-z8">
  <mat-toolbar color="primary" class="montserrat">Aniversariantes</mat-toolbar>
  <div class="toolbar-month">
    <mat-grid-list cols="12" rowHeight="3:1">
      <mat-grid-tile>
        <a [routerLink]="['components/print', 1]">
          {{ "Jan" }}
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-button (click)="changeMonth('Fev')">
          {{ "Fev" }}
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-button (click)="changeMonth('Mar')">
          {{ "Mar" }}
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-button (click)="changeMonth('Abr')">
          {{ "Abr" }}
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-button (click)="changeMonth('Mai')">
          {{ "Mai" }}
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-button (click)="changeMonth('Jun')">
          {{ "Jun" }}
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-button (click)="changeMonth('Jul')">
          {{ "Jul" }}
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-button (click)="changeMonth('Ago')">
          {{ "Ago" }}
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-button (click)="changeMonth('Set')">
          {{ "Set" }}
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-button (click)="changeMonth('Out')">
          {{ "Out" }}
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-button (click)="changeMonth('Nov')">
          {{ "Nov" }}
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-button (click)="changeMonth('Dez')">
          {{ "Dez" }}
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <!-- <fragment-list
    *ngIf="birthdays$ | async as birthdays; else loading"
    [birthdays]="birthdays"
  ></fragment-list>
  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card> -->

<!--
<app-birthdays-list
*ngIf="birthdays$ | async as birthdays; else loading"
[birthdays]="birthdays"
(add)="onAdd()"
(edit)="onEdit($event)"
(remove)="onRemove($event)"
></app-birthdays-list>

<ng-template #loading>
<div class="loading-spinner">
  <mat-spinner></mat-spinner>
</div>
</ng-template> -->
