<mat-card>
  <mat-toolbar color="primary">Aniversariantes</mat-toolbar>
  <div *ngIf="aniversariantes$ | async as aniversariantes; else loading">
    <table mat-table [dataSource]="aniversariantes" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container
        matColumnDef="name"
        aria-label="Campo de nome do funcionário"
      >
        <th mat-header-cell *matHeaderCellDef>Aniversariante</th>
        <td mat-cell *matCellDef="let aniversariante">
          {{ aniversariante.name }}
          <mat-icon
            aria-hidden="false"
            aria-label="Nome"
            fontIcon="{{ aniversariante.name | icon }}"
          >
          </mat-icon>
        </td>
      </ng-container>

      <!-- Birthday Column -->
      <ng-container
        matColumnDef="birthday"
        aria-label="Campo de dia e mês do aniversário"
      >
        <th mat-header-cell *matHeaderCellDef>Dia do aniversário</th>
        <td mat-cell *matCellDef="let aniversariante">
          {{ aniversariante.birthday }}
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button
            mat-mini-fab
            color="primary"
            aria-label="Adicionar um aniversariante"
            (click)="onAdd()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let aniversariante">
          <button
            mat-icon-button
            aria-label="Editar aniversariante"
          >
            <mat-icon class="verde">edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            aria-label="Remover aniversariante"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>
